@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  
.banner{
    margin: 50px 100px;
    height: 400px;
    border: 50px;
    border-radius: 20px;
    padding: 80px 100px 80px 100px;
    display: flex;
    background-color: rgb(198, 228, 214);
    justify-content: space-between;
    align-items: flex-start;
}
.banner .banner-content{
    margin-top: 50px;
    max-height: 220px; 
}
.banner .banner-content .title{
font-size: 20px;
height: 10px;
font-weight: 400;
color: rgba(14, 14, 14, 0.5);
}
.banner .description{
    font-size: 40px;
font-weight: 900;
color: rgb(14, 14, 14);
}
.banner .banner-content button{
font-size: 12px;
width: 180px;
height: 40px;
margin: 31px 0;
border-radius: 5px;
border-style: none;
color: rgb(255, 255, 255);
background-color: rgb(0, 106, 80);
padding: 5px;
}
#box{
    margin: 50px 100px;
    height: 500px;
    width: 1160px;
}
#box h1{
    font-size: 35px;
font-weight: 650;
line-height: 40px;
}
#box header p{
    font-size: 14px;
font-weight: 400;
line-height: 20px;
color: rgba(14, 14, 14, 0.7);
}
.cardbox-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    justify-content: space-between;
    gap: 40px;
}
.cardbox-container .cardbox{
    margin: 30px 0px;
    display: flex ;
    height: 350px;
    justify-content: space-between;

}
.cardbox-container .cardbox .cardbox1{
    margin: 10px 25px 10px 0px;
    padding: 15px 15px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 20px;
}
.cardbox-container .cardbox .cardbox2{
    margin: 10px 25px 10px 0px;
    padding: 15px 15px;
    background-color: rgb(198, 228, 214);
    border-radius: 20px;
}
.cardbox-container .cardbox .cardbox3{
    margin: 10px 25px 10px 0px;
    padding: 15px 15px;
    background-color: rgb(247, 235, 207);
    border-radius: 20px;
}
.cardbox-container .btn{
    font-size: 12px;
width: 100px;
height: 35px;
margin: 31px 0;
border-radius: 5px;
border-style: none;
color: rgb(255, 255, 255);
padding: 5px;
}
.cardbox-container .cardbox1 .btn{
    background-color: rgb(0, 106, 80);
}
.cardbox-container .cardbox2 .btn{
    
    background-color: rgb(9, 161, 92);
}
.cardbox-container .cardbox3 .btn{
    background-color: rgb(255, 194, 57);
}
#speech{
    margin: 50px 100px;
    padding: 20px;
    border: 1px solid rgba(11, 1, 1, 0.567);
    border-radius: 17px;
    box-shadow: 5px 7px rgba(9, 5, 0, 0.297);
    background-color: rgb(255, 255, 255);
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 20px 1px;
    background-size: 80px  ;

    
}
#speech p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
color: rgba(14, 14, 14, 0.8);
    
}
#speech .voice{
    font-size: 20px;
font-weight: 600;
line-height: 30px;
color: rgba(14, 14, 14, 0.8);
}
#speech .voice-title{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgba(14, 14, 14, 0.6);
}
#card{
    margin: 80px 100px;
    height: 1200px;
}
#card h1{
    font-size: 40px;
font-weight: 700;
line-height: 48px;
}
#card p{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
color: rgba(14, 14, 14, 0.7);
}
#card .card1{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);

}
#card .card1 .title-img{
    margin-left: 12px;
    border-radius: 25px;
}
#card .card1 .description{
    margin: 0px 28px;
    height: 310px;
    justify-content: flex-start;
align-items: flex-start;
}
#card .card1 .description .title{
    font-size: 28px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
color: rgba(14, 14, 14, 0.8)
}

#card .card1 .description .date{
    margin: 12px 0px;
    font-size: 16px;
font-weight: 400;
line-height: 24px;
gap: 12px;
color: rgba(14, 14, 14, 0.7);
}
#card .card1 .description .time{
    margin: 0px 12px;
    font-size: 16px;
font-weight: 400;
line-height: 24px;

color: rgba(14, 14, 14, 0.7);
}
#card .card1 .description p{
    margin: 12px 0px;
}
#card .card1 .btn{
    margin-top: 28px;
width: 100px;
height: 40px;
border-radius: 5px;
border-style: none;
color: rgb(255, 255, 255);
background-color: rgb(0, 106, 80);
padding: 10px;
font-size: 14px;
} 
#card .card2{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}
#card .card2 .description{
    margin: 0px 28px;
    height: 310px;
    justify-content: flex-start;
align-items: flex-start;
}
#card .card2 .description .title{
    font-size: 28px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
color: rgba(14, 14, 14, 0.8)
}
#card .card2 .description .date{
    margin: 12px 0px;
    font-size: 16px;
font-weight: 400;
line-height: 24px;
gap: 12px;
color: rgba(14, 14, 14, 0.7);
}
#card .card2 .description .time{
    margin: 0px 12px;
    font-size: 16px;
font-weight: 400;
line-height: 24px;

color: rgba(14, 14, 14, 0.7);
}
#card .card2 .description p{
    margin: 12px 0px;
}
#card .card2 .btn{
    margin-top: 28px;
width: 100px;
height: 40px;
border-radius: 5px;
border-style: none;
color: rgb(255, 255, 255);
background-color: rgb(0, 106, 80);
padding: 10px;
font-size: 14px;
} 
#card .card2 .title-img{
    margin-left: 12px;
    border-radius: 25px;
}